body, html{
    height: 100%;
}

*{
    box-sizing: border-box;
}

.bg-imagen{
    background-image: url('imagenPerfil.jpg');
    filter: blur(8px);
    -webkit-filter: blur(3px);
    height: 100%;
    background-position: center;
    background-repeat: space;
    background-size: cover;
}

/*POSICIONAMOS EL TEXTO EN LA MITAD DE LA CABECERA DE LA IMAGEN*/

.bg-texto{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}